body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1;
  color: black;
  background-color: darksalmon;
 
}


h1 {
  font-family: 'Playfair Display', serif;
  color: #b6f50a;
  background-color: darkgrey;
}

textarea {
  background: transparent;
  border: rgb(102, 100, 100);
  resize: none;
  padding: 10px;
  margin: 10px;
}

.jumbotron {
  text-align: center;
  
}

.lead {
  padding-top: 10px;
}

.description{
  margin: 10px;
  padding: 10px;
  white-space: pre-wrap;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid darkorange;
}

.hour {
  border-right: 1px solid #06090a;
  margin: 10px;
  padding: 10px;
  text-align: center;
}



.future {
  background-color: #e7f5eb;
}

.saveBtn {
  background-color: darkgrey;
  border: none;
  color: rgb(190, 101, 101); 
}

.saveBtn:hover {
  background-color: rgb(53, 52, 52);
}