body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1;
  color: black;
 
}


h1 {
  font-family: 'Playfair Display', serif;
  color: #536B78;
}

textarea {
  background: transparent;
  border: darkgrey;
  resize: none;
  padding: 10px;
  margin: 10px;
}

.jumbotron {
  text-align: center;
  
}

.lead {
  padding-top: 10px;
}

.description{
  margin: 10px;
  padding: 10px;
  white-space: pre-wrap;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid #6692ac;
}

.hour {
  border-right: 1px solid #06090a;
  margin: 10px;
  padding: 10px;
  text-align: center;
}



.future {
  background-color: #c8e0f1;
}

/* .saveBtn {
  background-color: rgba(11, 65, 136, 0.75);
  border: none;
  color: rgb(190, 101, 101); 
} */

.saveBtn:hover {
  background-color: darkgrey;
}